{% load static %}
<header class="bg-grey-300">
    <div class="container bg-green-50">
        <div class="row">
            <div class="col-md-6">
                <a class="d-inline-block py-1" href="/">
                    {% comment %}
                    <img src="{% static 'images/logo/company-logo.png' %}"
                         width="84"
                         height="84"
                         class="d-inline-block pr-2"
                         alt="{{ company_detail.name }}">
                         {% endcomment %}
                    <span class="h1 navbar-brand-name green">{{ company_detail.name|default:"PDF PARSER" }}</span>
                </a>

            </div>
            <div class="col-md-6">
                {{ SOCIAL_MEDIAS.facebook }}
            </div>
        </div>
    </div>
</header>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="top-search form-inline my-2 my-lg-0" method="get"
                  action="">
                <div class="input-group">
                    <input type="text"
                           name="q"
                           class="form-control form-control-sm no-border-radius"
                           placeholder="Search for...">
                    <div class="input-group-append">
                        <button class="btn btn-success btn-sm  mr-1 no-border-radius"
                                type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>

