{% extends '_base_master.html' %}
{% load tz %}
{% load static %}
{% load document_parser %}

{% block master_content %}

    <div class="container py-2" id="app">


        {% if not file_not_found and not documents %}
            <h1 class="alert alert-info">
                Welcome To PDF parser .
                <br>
                You do not have any files uploaded yet.
                <br>
                Please Login and  Upload
            </h1>

            <h1><a href="{% url 'help' %}">Detail Link here</a></h1>

        {% endif %}
        {% if file_not_found %}
            <h3 class="alert alert-info">
                {{ file_not_found }}
            </h3>
        {% endif %}
        {#        {% get_document_upload_form %}#}
        {% for document in documents %}
            <!--[[getValue('ksdf')]]-->
            <table class="table table-striped">
                {% if forloop.counter == 1 %}
                    <thead>
                    <tr>
                        <th scope="col" style="width: 3%">#</th>
                        <th scope="col" style="width: 60%">File Name</th>
                        <th scope="col" style="width: 15%">File Upload Date</th>
                        <th scope="col" style="width: 15%">Action</th>
                    </tr>
                    </thead>
                {% endif %}
                <tbody>
                <tr>
                    <th scope="row" style="width: 3%">{{ forloop.counter }}</th>
                    <td style="width: 60%">{{ document.name }}</td>
                    {#                    <td style="width: 15%" class="small">{{ document.created_at|timezone:'Asia/Kathmandu' }}</td>#}
                    <td style="width: 15%" class="small">{{ document.created_at }}</td>
                    <td style="width:15%;">
                        <button class="btn btn-sm btn-success show-detail"
                                data-slug="{{ document.slug }}">
                            Detail
                        </button>
                        <a class="btn btn-sm btn-success" href="{{ document.export_to_csv }}">Export</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="card no-display text-center my-1"
                 id="error-document-not-found-{{ document.slug }}">
                <div class="card-body">
                    <h6 class="card-title text-danger"></h6>
                </div>
            </div>
            <div class="card no-display text-center my-1"
                 id="loading-data-image-{{ document.slug }}">
                <img src="{% static 'images/loading-text.gif' %}"
                     alt="loading data"
                     style="width: 18rem"
                     class="card-img-top">
                <div class="card-body">
                    <h6 class="card-title">Extracting Data from PDF ......</h6>
                </div>
            </div>
            <table class="table table-striped no-display" id="{{ document.slug }}">
                <thead>
                <tr>
                    <th scope="col">Case Number</th>
                    <th scope="col">Case Type</th>
                    <th scope="col">File Date</th>
                    <th scope="col">Case Status Date</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        {% endfor %}
    </div>

{% endblock %}

{% block js %}
    <script>
        $(function () {
            $('.show-detail').on('click', function (event) {
                event.preventDefault();
                let slug = $(this).attr('data-slug');
                let apiUrl = `/api/v1/document-parser/document/${slug}/`;
                let table = $(`#${slug}`);
                let button = $(this);
                let errorEl = $('#error-document-not-found-' + slug);
                if (table.hasClass('no-display')) {
                    $.ajax({
                        url: apiUrl,
                        success: function (data) {
                            errorEl.hide();
                            let caseList = data.data.case_list;
                            let caseStatusDate = data.data.case_status_date;
                            table.removeClass('no-display');
                            {#                            button.attr('disabled', true);#}
                            let tbody = table.children('tbody')
                            for (let i = 0; i < caseList.length; i++) {
                                let caseNumber = caseList[i].case_number;
                                let caseType = caseList[i].case_type;
                                let fileDate = caseList[i].file_date;
                                let tr = tbody.append('<tr></tr>');
                                tr.append(`<td>${caseNumber}</td>`);
                                tr.append(`<td>${caseType}</td>`);
                                tr.append(`<td>${fileDate}</td>`);
                                tr.append(`<td>${caseStatusDate}</td>`);
                            }
                        },
                        error: function (error) {
                            errorEl.show();
                            errorEl.children('.card-body').children('.text-danger').html(error.responseJSON.detail)

                        },
                        beforeSend: function () {
                            $('#loading-data-image-' + slug).show();
                        },
                        complete: function () {
                            $('#loading-data-image-' + slug).hide();
                        },

                    })
                } else {
                    table.toggle()
                }
            })


        });

    </script>
    <script src="{% static 'document_parser/js/document_upload.js' %}"></script>
{% endblock %}